In [1]:
import pandas as pd
import numpy as np
import random
from itertools import product

In [2]:
r1=pd.DataFrame(zip(['CSCC(N)Cc1cccs1',
 'NCc1cccc(C(F)(F)F)c1F',
 'CN(C)S(=O)(=O)C1(CN)CC1',
 'Nc1cc2cccnc2c(Br)n1',
 'CC(C)(C)CNCCC#N']),columns=['smiles'])

In [3]:
r2=pd.DataFrame(zip(['O=C(O)C1CCC(OCC2CCC2)CC1',
 'Cc1ccc(-c2nn(-c3ccccc3)cc2C(=O)O)cc1C',
 'Cc1cc(Cl)c(C(=O)O)cc1[N+](=O)[O-]',
 'CCCOc1nc(C(=O)O)cc2ccccc12',
 'O=C(O)CCn1cnccc1=O']),columns=['smiles'])

In [4]:
bb_spaces={'amines':r1,'acids':r2}

In [5]:
bb_spaces['amines']['score']=random.sample(range(1, 100), 5)
bb_spaces['acids']['score']=random.sample(range(1, 100), 5)

In [6]:
bb_spaces['amines']=bb_spaces['amines'].sort_values(by=['score'],ascending=[False])
bb_spaces['acids']=bb_spaces['acids'].sort_values(by=['score'],ascending=[False])

In [7]:
# this does not do a grid search
grid_size=3
grid = list(product(*[ranked_bb_domain.iloc[:grid_size].index.tolist() for ranked_bb_domain in bb_spaces.values()]))

In [8]:
sum_acq_values = [sum(score) for score in product(*[ranked_bb_domain.iloc[:grid_size]["score"].tolist() for ranked_bb_domain in bb_spaces.values()])]

In [9]:
grid = pd.DataFrame(sum_acq_values, columns=["score"], index=pd.MultiIndex.from_tuples(grid, names=list(bb_spaces.keys())))

In [10]:
todrop=pd.DataFrame(index=pd.MultiIndex.from_tuples([(0,0),(0,4)], names=list(bb_spaces.keys())))

In [11]:
grid[~grid.index.isin(todrop.index)]

              score
amines acids
2      4        189
       2        172
       1        137
3      4        173
       2        156
       1        121
1      4        146
       2        129
       1         94